.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .category-card {
     border: 1px solid #ddd;
     border-radius: 8px;
     margin: 16px;
     padding: 16px;
     width: 200px;
     position: relative;
    
  
   
    }
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }
  
    .category-name {
        /* position: absolute; */
        bottom: 16px;
      
       
     
    }
  
  