/* Container for the entire section */
.about-container {
    display: grid;
    background-color: #f9f9f9;
    margin-bottom: 100px;

    grid-template-columns: 1fr 1fr; /* Equal width for content and images */
    gap: 10px;
    padding: 10px;
   max-width: 60vw;
    height: 60vh;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  /* Content section */
  .about-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Ensure alignment of all elements */
  }
  
  .about-content h2 {
    font-size: 2.8rem;
    color: #333;
   
    font-weight: bold;
    margin-bottom: 40px; /* Space between About Us and first title */
    align-items: center;
  }
  
  /* Item styling */
  .about-item {
    display: flex;
    align-items: flex-start;
    gap: 30px; /* Space between number and text */
    margin-bottom: 50px;
  }
  
  .about-number {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    line-height: 1;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
  }
  
  .about-text h3 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
  }
  
  .about-text p {
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #555;
    line-height: 1.4;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   
    -webkit-box-orient: vertical;
  }
  
  /* Image section */
  .about-images {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
    margin-right: 50px;
  }
  
  .about-image-big img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    
  }
  
  .about-image-small {
    display: flex;
    gap: 40px;
  }
  
  .about-image-small img {
    flex: 1;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
   
  }
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  }
  
  .animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .about-container {
      grid-template-columns: 1fr;
    }
  
    .about-image-small {
      flex-direction: column;
      gap: 10px;
    }
  }
  