.product-list {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .product-list-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
  
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 0 20px;
  }
  
  .product-card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-details {
    padding: 15px;
    text-align: left;
  }
  
  .product-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 1rem;
    color: #888;
    font-weight: 500;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .product-list-title {
      font-size: 1.5rem;
    }
    
    .products-container {
      grid-template-columns: 1fr 1fr;
    }
  
    .product-name {
      font-size: 1rem;
    }
  
    .product-price {
      font-size: 0.9rem;
    }
  }
  
.animate-on-scroll {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  }
  
  .animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  
  
