.product-list {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.product-list-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 0 20px;
}

.product-card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 15px;
  text-align: left;
}

.product-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1rem;
  color: #888;
  font-weight: 500;
}
.product-list-quick-add-btn {
  display: none;
  position: absolute;
  margin-bottom: 5px;
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom:10%;
}

/* Show the button on hover */
.product-card:hover .product-list-quick-add-btn {
  display: block; /* Show button on hover */
}

.product-list-quick-add-btn:hover {
  background-color: #555; /* Button hover effect */
}
.view-all-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view-all-button {
  background-color:black;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-all-button:hover {
  background-color: #333;
}


/* Responsive Design */
@media (max-width: 600px) {
  .product-list-title {
    font-size: 1.5rem;
  }
  
  .products-container {
    grid-template-columns: 1fr 1fr;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-price {
    font-size: 0.9rem;
  }
}

