/* Signup.css */
.signup-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.signup-welcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background-color: black; /* Soft pink background */
  margin-bottom: 30px;
}

.signup-welcome h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  margin-bottom: 20px;
}

.signup-welcome p {
  font-size: 1.1rem;
  color: #fff;
}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-form {
  width: 100%;
  max-width: 650px;

  padding: 40px;
  border-radius: 20px;
 
  display: flex;
  flex-direction: column;
}

.signup-form h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}

.form-input {
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 25px; /* Oval shape */
  border: 2px solid #ddd;
  font-size: 1rem;
  transition: border-color 0.3s;
  outline: none;
}

.form-input:focus {
  border-color: #333; /* Accent color when focused */
}

.signup-btn {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #e73470;
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-welcome {
    padding: 30px;
  }

  .signup-form {
    max-width: 80vw;
    padding: 30px;
  }

  .signup-form h2 {
    font-size: 1.8rem;
  }

  .form-input {
    padding: 10px 15px;
  }

  .signup-btn {
    padding: 12px;
  }
}
