.trending-products {
  padding: 10px;
  font-family: 'Arial', sans-serif;
  text-align: left;
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  font-family: 'Arial', sans-serif; 
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 50%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  transition: all 0.3s;
  outline: none;
}

.search-bar:focus {
  border-color: #333;
}

/* Group Links */
.group-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.group-link {
  text-decoration: none;
  padding: 8px 16px;
  color: #555;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}

.group-link:hover {
  color: #333;
  text-decoration: underline;
}

.group-link.active {
  color: #bf4080;
  text-decoration: underline;
}

/* Products Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-details {
  padding: 15px;
  text-align: center;
}

.product-name {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Quick Add Button */
.quick-add-btn {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.quick-add-btn:hover {
  background-color: #555;
}

.product-card:hover .quick-add-btn {
  display: block;
}

/* Scroll Animation */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .search-bar {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .search-bar {
    width: 90%;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 products per row */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }

  .search-bar {
    width: 95%;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 products per row */
  }

  .product-image {
    height: 200px;
  }
}
